- spring break dates (february-April)
- summer vacation dates (late May-September)
- Thanksgiving Travel (End of November)
- Christmas to New Years (End of December to Early Janurary)

In [17]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [20]:
total_acc_2022_by_month = pd.read_csv('C:\\Users\\ksree\\Documents\\dda9\\PYTHON\\PROJECTS\\Kristen_Capstone\\data\\2022_month_crashes1.csv')

- No data for decemeber for total accidents by month 
- FMCSA Motor Carrier Management Information System (MCMIS) data snapshot as of 03/31/2023, including crash records through 11/30/2022

In [21]:
total_acc_2022_by_month.head()

,State,January,February,March,April,May,June,July,August,September,October,November,December,Total
0,Alabama,373,366,428,438,419,379,363,462,387,429,396,0,"4,440"
1,Alaska,4,2,2,0,2,0,1,2,1,0,0,0,14
2,Arizona,229,267,288,235,215,201,273,284,247,219,249,0,"2,707"
3,Arkansas,284,342,309,258,269,291,221,300,267,303,248,0,"3,092"
4,California,"1,285","1,207","1,248","1,303","1,193","1,389","1,274","1,403","1,345","1,332","1,248",0,"14,227"

In [22]:
total_acc_2022_by_month.dtypes

State        object
January      object
February     object
March        object
April        object
May          object
June         object
July         object
August       object
September    object
October      object
November     object
December      int64
Total        object
dtype: object

In [23]:
total_acc_2022_by_month = total_acc_2022_by_month.replace(',','', regex=True)

In [30]:
total_acc_2022_by_month.dtypes

State        object
January      object
February      int64
March         int64
April         int64
May           int64
June          int64
July          int64
August        int64
September     int64
October       int64
November      int64
December      int64
Total         int64
dtype: object

In [25]:
total_acc_2022_by_month[total_acc_2022_by_month.columns[2:]]=total_acc_2022_by_month[total_acc_2022_by_month.columns[2:]].replace(',','',regex=True).astype('int64')

In [26]:
total_acc_2021_by_month = pd.read_csv('C:\\Users\\ksree\\Documents\\dda9\\PYTHON\\PROJECTS\\Kristen_Capstone\\data\\2021_all_crashes_month1.csv')

In [27]:
total_acc_2021_by_month.head()

,State,January,February,March,April,May,June,July,August,September,October,November,December,Total
0,Alabama,321,302,425,419,384,429,385,419,446,426,389,432,"4,777"
1,Alaska,1,2,3,0,1,0,1,0,2,1,4,0,15
2,Arizona,226,167,244,229,251,255,264,291,236,261,241,280,"2,945"
3,Arkansas,221,304,261,276,233,319,293,286,327,284,266,287,"3,357"
4,California,"1,109","1,019","1,271","1,292","1,330","1,439","1,458","1,520","1,473","1,542","1,228","1,393","16,074"

In [31]:
total_acc_2021_by_month[total_acc_2021_by_month.columns[2:]]=total_acc_2021_by_month[total_acc_2021_by_month.columns[2:]].replace(',','',regex=True).astype('int64')

In [32]:
total_acc_2021_by_month.dtypes

State        object
January      object
February      int64
March         int64
April         int64
May           int64
June          int64
July          int64
August        int64
September     int64
October       int64
November      int64
December      int64
Total         int64
dtype: object

In [28]:
total_acc_2020_by_month = pd.read_csv('C:\\Users\\ksree\\Documents\\dda9\\PYTHON\\PROJECTS\\Kristen_Capstone\\data\\2020_all_crashes_month1.csv')

In [29]:
total_acc_2020_by_month

,State,January,February,March,April,May,June,July,August,September,October,November,December,Total
0,Alabama,385,371,353,256,313,354,360,364,385,458,443,377,"4,419"
1,Alaska,0,1,2,0,0,0,1,1,1,1,0,5,12
2,Arizona,177,169,189,141,168,211,155,210,208,246,219,217,"2,310"
3,Arkansas,256,206,235,193,205,230,275,228,252,327,228,217,"2,852"
4,California,962,926,"1,014",749,868,987,989,"1,193","1,236","1,351","1,153","1,185","12,613"
5,Colorado,166,221,185,121,122,174,167,156,182,188,173,191,"2,046"
6,Connecticut,112,85,120,63,96,108,95,128,127,137,138,102,"1,311"
7,Delaware,57,54,47,34,27,48,60,63,60,67,50,40,607
8,Dist. Of Columbia,19,18,20,15,21,27,30,31,29,37,31,18,296
9,Florida,867,834,819,580,664,695,808,791,858,930,804,905,"9,555"
10,Georgia,513,524,523,373,382,462,472,508,545,593,570,515,"5,980"
11,Hawaii,18,29,16,7,6,15,12,8,15,8,15,13,162
12,Idaho,67,48,34,40,65,64,69,57,95,76,68,49,732
13,Illinois,665,690,528,476,465,514,631,566,594,689,561,496,"6,875"
14,Indiana,413,426,345,263,353,496,521,493,462,582,476,485,"5,315"
15,Iowa,296,152,125,104,143,166,158,189,184,240,195,204,"2,156"
16,Kansas,212,158,120,119,130,185,170,145,165,173,144,205,"1,926"
17,Kentucky,249,251,229,180,218,257,262,255,277,273,276,227,"2,954"
18,Louisiana,327,277,270,164,246,269,283,311,429,408,344,304,"3,632"
19,Maine,79,74,55,33,47,71,52,67,40,56,77,89,740
20,Maryland,294,258,256,194,211,255,287,289,297,285,259,336,"3,221"
21,Massachusetts,163,127,90,89,94,122,115,156,137,172,127,165,"1,557"
22,Michigan,464,522,275,189,275,417,459,465,473,473,408,421,"4,841"
23,Minnesota,295,190,144,112,98,163,188,188,230,259,201,226,"2,294"
24,Mississippi,163,169,162,148,165,189,205,207,216,211,200,182,"2,217"
25,Missouri,553,400,380,309,361,462,486,497,463,526,420,424,"5,281"
26,Montana,49,95,66,30,44,53,51,34,54,107,79,67,729
27,Nebraska,108,78,99,100,80,108,102,122,107,120,91,155,"1,270"
28,Nevada,48,42,40,49,43,52,44,60,47,50,48,52,575
29,New Hampshire,42,55,27,16,34,34,29,25,31,42,31,52,418
30,New Jersey,488,471,406,274,322,407,439,469,406,514,483,478,"5,157"
31,New Mexico,107,111,84,50,42,68,59,54,55,87,58,103,878
32,New York,801,745,618,319,484,583,615,658,682,699,627,652,"7,483"
33,North Carolina,627,614,567,455,560,591,622,675,634,737,683,621,"7,386"
34,North Dakota,75,38,55,46,17,35,37,43,49,63,54,39,551
35,Ohio,500,584,397,312,430,506,559,540,484,611,479,556,"5,958"
36,Oklahoma,315,262,286,165,198,269,307,280,248,333,274,264,"3,201"
37,Oregon,188,129,111,99,87,113,114,115,119,123,141,183,"1,522"
38,Pennsylvania,651,545,491,364,401,621,667,637,621,687,590,881,"7,156"
39,Rhode Island,14,16,12,9,10,22,16,11,18,13,14,21,176
40,South Carolina,217,191,186,142,203,237,229,248,256,277,305,300,"2,791"
41,South Dakota,36,21,32,29,23,27,33,29,23,57,20,45,375
42,Tennessee,372,361,374,263,313,389,362,405,400,449,402,392,"4,482"
43,Texas,"1,943","1,948","1,873","1,284","1,166","1,288","1,340","1,447","1,656","2,045","1,782","1,763","19,535"
44,Utah,127,106,95,93,108,147,115,131,154,114,71,118,"1,379"
45,Vermont,21,17,13,14,12,12,19,18,12,15,15,14,182
46,Virginia,341,292,305,254,276,323,360,376,369,376,328,388,"3,988"
47,Washington,250,189,154,70,122,144,160,181,191,200,194,197,"2,052"
48,West Virginia,87,90,72,78,61,90,92,76,91,98,67,114,"1,016"
49,Wisconsin,298,200,143,135,121,193,197,231,205,267,186,238,"2,414"
50,Wyoming,143,134,188,47,35,49,49,54,65,103,126,123,"1,116"
51,Sub Total,"15,620","14,514","13,230","9,649","10,935","13,302","13,927","14,485","14,937","16,953","14,728","15,414","167,694"

In [33]:
total_acc_2020_by_month[total_acc_2020_by_month.columns[2:]]=total_acc_2020_by_month[total_acc_2020_by_month.columns[2:]].replace(',','',regex=True).astype('int64')

In [34]:
total_acc_2021_by_month.dtypes

State        object
January      object
February      int64
March         int64
April         int64
May           int64
June          int64
July          int64
August        int64
September     int64
October       int64
November      int64
December      int64
Total         int64
dtype: object